<!DOCTYPE html>
<html ng-app="myapp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!-- 		<meta http-equiv="Access-Control-Allow-Origin" content="*"> -->
		<title></title>
		<script src="js/mui/mui.js"></script>
<!-- 		<script src="js/angular/angular.js"></script> -->
		<script src="js/angular/angular.js"></script>
		<link href="css/mui.css" rel="stylesheet" />
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
	</head>
	<style>
		.l_pic {
			width: 100%;
			height: 15em;
		}
	</style>
	<body ng-controller="mycontroller">
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">music</h1>
		</header>
		<div class="mui-content">
			<div class="l_pic"></div>
			<div class="mui-input-group">
				<div class="mui-input-row">
					<label><span class="mui-icon mui-icon-contact"></span></label>
					<input type="text" class="mui-input-clear" placeholder="请输入用户名1" ng-model="username">
				</div>
				<div class="mui-input-row">
					<label><span class="mui-icon mui-icon-locked"></span></label>
					<input type="password" class="mui-input-password" placeholder="请输入密码1" ng-model="password">
				</div>
				<div class="mui-button-row">
					<button type="button" class=" mui-btn-primary" ng-click="login()">登录</button>
					<button type="button" class=" mui-btn-danger">注册</button>
				</div>
			</div>
		</div>
	</body>
	<script src="js/index.js"></script>
</html>
